// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 100px;
  margin-left: 100px;
}

table {
	margin: 30px;
}

p { margin: 30px;}

h1 { padding: 10px;}

.form {padding: 20px;
text-align: center;
margin-top: -50px;
}

.row { text-align: center; }

.col-xs-12 { height: 500px; }

.pages {
	text-align: center;
}

.average-rating {
	position: relative;
	left: 45%;
}

