// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table {
	margin: 30px;
}

p { margin: 30px;}

h1, h2 { margin-top: 60px;}

.form {padding: 30px;
text-align: center;}


