// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  border-radius: 0 !important;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  margin-top: 40px;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC', Times, serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}

.links {color: #ffa5d2;}

.top-bar {margin-top: 10px;
text-align: center;}

.logo {
  height: 25px;
}

@media screen and (max-width: 600px) {

    .logo {display:none;}
    .top-bar {display: none;}
}

.row { text-align: center; }

.notice-info {
  background-color: white;
  border: none;
  color: #a1cee3;
}

.alert-info {
  background-color: white;
  border: none;
  color: #ffa5d2;
}

.headers {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC', Times, serif;
  color: #0ACED8;
  text-transform: uppercase;
  margin: auto;
  font-size: 13px;
  font-weight: 300;
}

h2 {
  font-family: 'Alegreya Sans SC', "Courier New", Courier, monospace;
  color: black;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

p {
  font-family: 'Alegreya Sans SC', "Courier New", Courier, monospace;
  color: grey;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}

a:hover {
  cursor: crosshair;
}

.main-image {
  /* Preserve aspet ratio */
  z-index: 999;
  min-width: 100%;
  min-height: 100%;
}

/** NAVBAR **/

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: white;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 998;
  left: 0;
  margin-left: 0;
  border: none;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.navbar-nav {
  float: none;
}

.navbar ul {
  display: inline-block;
  list-style: none;
}

.navbar a {
  -webkit-transition: color 600ms;
}


.navbar a:hover {
  text-decoration: none;
}


.navbar ul li a {
  text-decoration: none;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC', Times, serif;
  font-size: 13px;
  font-weight: 300;
  color: #333333;
  text-transform: uppercase;
}

.nav-search {margin-top:12px;}

/*
.button-s {
font-family: 'Alegreya Sans SC';
}
*/

.navbar .navbar-nav {
  vertical-align: top;
  text-align: center;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle {
  margin-right: 100px;
  background-color: black;
}

.icon-bar {
  background-color:grey !important;
}

.navbar-header .navbar-toggle {
  border: none;
  background: white !important;
}

/** .navbar-header .navbar-toggle:hover { background: white; } **/


/** deleting arrows **/
.right.carousel-control, .left.carousel-control {
  opacity: 0;
  filter:alpha(opacity=0); /* IE support */
}

.carousel {
  /*z-index: 999;*/
  text-align: center;
}


.carousel-inner { max-height: 510px;}


#landing-img {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.m-t {margin-top: 30px;}

/*
.form-group {
  text-transform: uppercase;
  color: #a1cee3;
  font-family: 'Alegreya Sans SC', 'Alegreya Sans SC', Courier, monospace;
  font-weight: 100;
  background-color: white;
  border: none;
}

*/
.form-group {text-transform: uppercase;}
.form-control {
  text-transform: uppercase;
  font-size: 11px;}

.new-user {
  width: 100%;
}



.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 50px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.footercr {
  margin-top: 20px;
}

#click {
  color: #956cae;
  text-decoration: underline;
}
