<div class="header">
<h1>Products</h1>
</div>

<div class="container-fluid">
	<div class="pages">
		<%= will_paginate @products %>
	</div>
  	
  <div class="row">
    <%= render @products %>
  </div>
</div>
<p><%= link_to '///add product///', new_product_path %></p>

